:root {
  --base-color: #ffffff;
  --primary-color: #0f172a;
  --secondary-color: #334155;
}

body {
  background-color: var(--base-color);
  color: var(--secondary-color);
  font-family: 'Inter', sans-serif;
}

/* navbar */
.navbar-brand {
  color: var(--primary-color);
}

.nav-link {
  color: var(--secondary-color);
}

.nav-link:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.navbar-nav .nav-link.active {
  color: var(--primary-color);
  font-weight: bold;
}

/* hambuger menu */
.navbar-toggler:focus,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* custom css social icon */
ul.social {
  margin: 0;
  padding: 0;
}

ul.social li {
  display: inline-block;
  margin-right: 8px;
}

ul.social li a {
  text-decoration: none;
}

ul.social li a svg {
  line-height: 28px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
  background-color:  var(--secondary-color);
  color: var(--base-color);
}

ul.social li a svg:hover {
  line-height: 28px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  padding: 5px;
  text-align: center;
  background-color: var(--base-color);
  color: var(--secondary-color);
  cursor: pointer;
}

/* article a (posts link) */
.posts {
  background-color: var(--base-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.posts:hover {
  background-color: var(--secondary-color);
  color: var(--base-color);
  border: 1px solid var(--secondary-color);
  cursor: pointer;
}

.title {
  color: var(--primary-color);
}

/* code highlight js */
pre code {
  tab-size:2;
}

.stackoverflow-light {
  background-color: var(--base-color) !important;
}


/* custom text-link (all post) */
.cta {
  color: var(--secondary-color);
}

.cta:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.cta-underline {
  color: var(--secondary-color);
  text-decoration: underline;
}

.cta-underline:hover {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}

 /*404 Not Found*/
.text-not-found {
  font-size: 150px;
  font-weight: bold;
}

/* back to top */
#backToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  background-color: var(--primary-color);
  color: var(--base-color);
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
}

/*cookie-banner*/
.cookie-consent {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  z-index: 999;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 0;
  background-color: var(--secondary-color);
  color: var(--base-color);
}

.cookie-consent-cta {
  background-color: var(--secondary-color);
  color: var(--base-color);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
.cookie-consent {
    bottom: 20px;
    right: 20px;
border-radius: 10px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
.cookie-consent {
    bottom: 20px;
    right: 20px;
    border-radius:10px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
.cookie-consent {
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
.cookie-consent {
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
  }
}

/*zoom-image*/
.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 999;
}


/*newer post and older post */
#blog-pager {
  text-align: center;
  overflow: hidden;
  margin-top: 2rem;
}

#blog-pager-newer-link {
  float: left;
}

#blog-pager-older-link {
  float: right;
}

a.blog-pager-older-link,
a.blog-pager-newer-link {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 15px;
}

a.blog-pager-older-link:hover,
a.blog-pager-newer-link:hover {
  color: var(--primary-color);
  cursor: pointer;
}